
/* ==========================================================================
   Variables
   ========================================================================== */


:root {
  --mainColor: #eaeaea;
  --white: #fff;
  --lightGrey: #eaeaea;
}
