
/* ==========================================================================
   Variables
   ========================================================================== */


:root {
  --fontColor: #666;
  --mainColor: #eaeaea;
  --white: #fff;
  --lightGrey: #eaeaea;
  --yellow: #f3dd39;
  --orange: orange;
}
